body {
  margin: 0;
  padding: 10px;
  width: 400px;
  max-width: 100%;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#refresh-button {
  margin-left: 10px;
  border-radius: 2px;
}

main ul {
  list-style: none;
  padding: 0;
}

main dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  max-width: 100%;
}

main dd {
  margin-left: 0;
  word-break: break-all;
}
